#chat__side
  .chat__side__var
    .chat__side__var__user
      = current_user.name
    .chat__side__var__menu
      = link_to new_group_path do
        = fa_icon 'pencil-square-o', class: 'icon'
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'
  .chat__side__group
  =render "group"

#main
  .main__header
    = render "main"

  .main__body
    = render @messages

  .bottom__form
  =render "bottom"

